.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);   /* menos opaco para que se note el blur */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.modal-contenido {
    background: rgba(255, 254, 254, 0.221);
    padding: 24px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    backdrop-filter: blur(7px);       
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.modal.activo {
    opacity: 1;
    visibility: visible;
}


.modal-botones {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 16px;
}

.modal-botones button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    background: #2d22ff;
    color: #fff;
    cursor: pointer;
}


.modal-botones .secundario {
    background: #ff1303;
}

.modal-mensaje {
    color: #37013f;
    font-weight: bold;
    margin-top: 13px;
}